body{
    font-size: 14px;
}
h1,h2,h3,h4,h5,h6{
    margin: 0px; 
    padding: 0px;
    font-weight: fixed;
}

.fixed{
    position: fixed;
}

.rel{
    position: relative;
}
.abs{position: relative;}
.strick{position: sticky;}
input, button, select, textarea{
    outline: none;
}
.flex{display:flex ;}
.flex-col{flex-direction: column;}
.aic{align-items: center;}
button{ cursor: pointer;}
.font{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.font1{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.fontb{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.b{
    font-weight: bold;
}
.s12{font-size: 12px;}
.s13{font-size: 13px;}
.s14{font-size: 14px;}
.s15{font-size: 15px;}
.s16{font-size: 16px;}
.s18{font-size: 18px;}
.s20{font-size: 20px;}
.s22{font-size: 22px;}
.s24{font-size: 24px;}
.s30{font-size: 30px;}


.noul{text-decoration: none;}
.noulh:hover{text-decoration: underline;}

.cfff{color: #ffff;}
.anim{transform: all 0.2s linear 0s;}
.placeholder{
    background: #ccc;
    animation: placeholder 1s infinite ease-in-out;
}
@keyframes placeholder{
    0%{ opacity: 0.5;}
    100%{ opacity: 1;}
}